<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.translationexchange.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <service
            android:name=".service.TmlService"
            android:exported="false" />

        <activity
            android:name=".activities.TmlAndroidActivity"
            android:label="Tml Android SDK" />
        <activity
            android:name=".activities.AuthorizationActivity"
            android:label="Authorization" />
        <activity
            android:name=".activities.LanguageSelectorActivity"
            android:label="Change language" />
        <activity
            android:name=".activities.MobileTranslationCenterActivity"
            android:label="Mobile translation center" />
    </application>

</manifest>